body {
    font-family: Lora, sans-serif;
}

.text-logo {
    color: #35746D;
    font-size: 2.5rem;
    font-weight: 500;
}

.contact-info .phone,
.contact-info .email {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-info p {
    font-size: 11px;
    margin: 5px 10px;
}

.contact-info .bold-info {
    font-size: 18px;
    /* font-weight: 500; */
}

.footer-image {
    height: 67%;
}

.category-content {
    margin-left: 20px;
    margin-right: 20px;
    display: grid;
    transition: transform 0.5s ease-in-out;
    /* Smooth transition for sliding */
}

.new-container,
.bestseller-container,
.category-container{
    margin-top: 8vh;
}

.bestseller-title,
.new-title,
.category-title {
    font-size: 25px;
    margin: 20px 0;
    font-weight: 500;
}

.bestseller-content,
.new-content,
.experience-content {
    width: 84vw;
}

.bestseller-product,
.new-product {
    /* height: 80%; */
    margin: 0 3px;
}

.story-container,
.category-container {
    width: 83vw;
    margin: 8vh auto;
}

.story-section {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.story-section .left-section {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.story-section .left-section img {
    width: 50px;
    height: 50px;
    margin: 10px 0;
}

.story-section .left-section h1 {
    font-size: 36px;
    margin: 20px 0;
}

.story-section .left-section p {
    font-size: 16px;
    margin: 10px 0;
}

.story-section .left-section button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.story-section .right-section {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.story-section .right-section img {
    width: calc(33.33% - 10px);
    height: auto;
    border-radius: 10px;
}

.story-section .story-img {
    width: 83vw;
    height: auto;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    /* Centers the image horizontally */
}

.bestseller-info p,
.new-info p {
    padding-bottom: 5px;
}

.bestseller-info .bestseller-des,
.new-info .new-des {
    font-size: 13px;
}

.bestseller-info .bestseller-des {
    margin-top: 5px;
}

.bestseller-info .bestseller-code,
.new-info .new-code {
    font-size: 11px;
}

.bestseller-info .bestseller-price,
.new-info .new-price {
    font-size: 15px;
    color: #35746D;
    font-weight: 500;
}

.header,
.navbar {
    width: 84vw;
    justify-content: center;
}

.group-header {
    /* background-color: #EFF6F4; */
    background-color: #ffffff;
}

/* .header-main{
    margin-left: -15vw;
} */

.main-banner {
    margin-top: 15px;
}

.nav-text {
    font-size: 10pt;
}

.nav-dropdown {
    background-color: #E3F0EC94
}

.header-logo {
    height: 70px;
    padding-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.text-experience {
    font-size: 1rem;
    line-height: 1.5rem;
}

.footer {
    background: linear-gradient(to bottom, #ffffff, #e0f5f2);
    padding: 20px;
    border-top: 5px solid #6BC9BC;
}

.footer .footer-content {
    margin-left: 20px;
    margin-right: 40px;
}

.footer h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer .social-icons a {
    margin-right: 18px;
    margin-top: 10px;
}

/* .footer .social-icons i {
    font-size: 1.5rem;
} */

.footer .email-signup input {
    border: none;
    border-bottom: 1px solid #000000;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 10px;
}

.footer .email-signup button {
    border: 1px solid #000000;
    padding: 5px 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.footer .email-signup button:hover {
    background-color: #f0f0f0;
}
.footer .customer-service p{
    font-size: 0.8rem;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, and Opera */
}

@media(min-width: 1025px) {
    /* .header-main {
        margin-left: 16vw;
        margin-right: auto;
    } */

    .contact-text {
        font-size: 0.75rem;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    .contact-info {
        flex: 1;
        margin: 0 20px;
    }

    .contact-info .icon {
        margin-right: 10px;
        margin-left: 10px;
        height: 5vh;
    }

    .text-logo {
        color: #35746D;
        font-size: 2.5rem;
        font-weight: 500;
    }

    .footer {
        padding-top: 10vh;
    }

    /* .new-container, .bestseller-container, .category-container{
        min-height: 80vh;
    } */
}

@media only screen and (min-width: 601px) and (max-width: 1020px) {

    /* .header-main {
        margin-left: -20vw;
    } */
    .shop-address {
        margin-left: 12px;
    }

    .footer {
        padding-top: 5vh;
    }
}

@media(max-width: 600px) {
    .header {
        width: 100%;
    }

    .contact-text {
        font-size: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 3px;
    }

    .header-logo {
        height: 50px;
        padding-bottom: 10px;
    }

    /* .header-main {
        margin-left: -10vw;
    } */

    .text-logo {
        color: #35746D;
        font-size: 1.25rem;
        font-weight: 500;
    }

    .main-banner {
        margin-top: 12vh;
    }

    .bestseller-content,
    .new-content,
    .experience-content {
        width: 89vw;
    }

    .story-container,
    .category-container {
        width: 88vw;
        margin: 8vh auto;
    }

    .new-container,
    .bestseller-container,
    .category-container {
        margin-top: 3vh;
    }

    .bestseller-title,
    .new-title,
    .category-title {
        font-size: 17px;
        margin: 20px 0;
        font-weight: 500;
    }

    .category-subtitle {
        font-size: 10px;
        font-weight: 500;
        text-align: center;
    }

    .item-label {
        font-size: 10px;
    }

    .bestseller-info .bestseller-des,
    .new-info .new-des {
        font-size: 10px;
    }

    .bestseller-info .bestseller-code,
    .new-info .new-code {
        font-size: 8px;
    }

    .bestseller-info .bestseller-price,
    .new-info .new-price {
        font-size: 12px;
        color: #35746D;
        font-weight: 500;
    }

    .experience-container {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

    .text-experience {
        font-size: 0.35rem;
    }

    .contact-info {
        flex: 1;
    }

    .contact-info .icon {
        margin-right: 10px;
        /* margin-left: 10px; */
        height: 5vh;
    }
}